<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ログイン</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <div claps="container">
        <h1>ログイン</h1>
        <p th:if="${message}"
        th:text="${message}"
        style="color:red;">
        </p>
        <form th:action="@{/user}"
        method="post">
            <p>メールアドレス</p>
            <input type="email"
                   name="email">

            <p>パスワード</p>
            <input type="password"
                   name="password">
            <br><br>
            <button type="submit">
                ログイン
            </button>
        </form>

        <br>
        <div class="link">
        <a href="/user/register">
            新規登録はこちら
        </a>
        </div>
        </div>
    </body>
</html>