<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>情報照会</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <div class="container">

        <h1>情報照会</h1>
        <div class="info-item">
            <strong>名前：</strong><span th:text="${customer.name}"></span>
        </div>

        <div class="info-item">
            <strong>性別：</strong><span th:text="${customer.gender}"></span>
        </div>
        
        <div class="info-item">
            <strong>生年月日：</strong><span th:text="${customer.birthday}"></span>
        </div>
        
        <div class="info-item">
            <strong>年齢：</strong><span th:text="${customer.age}"></span>歳
        </div>
        
        <div class="info-item">
            <strong>メールアドレス：</strong><span th:text="${customer.email}"></span>
        </div>
        
        <br>
        
        <div class="link">
            <a href="/user/mypage/lookup/email-update">メールアドレス変更</a>
        </div>

        <div class="link">
            <a href="/user/mypage/lookup/password-update">パスワード変更</a>
        </div>
        
        <br><br>

        <div class="link">
            <a href="/user/mypage">マイページへ戻る</a>
        </div>
        </div>
    </body>
</html>