<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>パスワード変更</title>
    </head>
    <body>
        <h1>パスワード変更</h1>
        <p th:if="${message}"
        th:text="${message}"
        style="color:red;">
        </p>
        <form th:action="@{/user/mypage/lookup/password-update}"
        th:object="${customer}"
        method="post">
            <p>現在のパスワード</p>
            <input type="password"
            name="currentPassword">
            <p>新しいパスワード</p>
            <input type="password"
            name="newPassword">
            <br><br>
            <button type="submit">変更</button>
        </form>
    </body>
</html>
