<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>顧客一覧</title>
</head>
<body>
    <h1>顧客一覧</h1>

    <style>
        table{
            border-collapse: collapse;
        }

        th,td{
            padding: 8px;
        }
    </style>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>名前</th>
            <th>メールアドレス</th>
            <th>操作</th>
        </tr>
        <tr th:each="customer : ${customers}">
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.email}"></td>

            <td>
                <a th:href="@{/update/{id}(id=${customer.id})}">[更新]</a>
                <a th:href="@{/delete/{id}(id=${customer.id})}" onclick="return confirm('本当に削除しますか？');">[削除]</a>
            </td>
        </tr>
    </table>
    <br>
    <a href="/">ホームに戻る</a>
</body>
</html>
