<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>顧客情報追加</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <div class="container">
        <h1>顧客情報追加</h1>
        <p th:if="${message}"
        th:text="${message}"
        class="error">
        </p>
        <form th:action="@{/customer/add}" th:object="${customer}" method="post">
            <p>名前</p>
            <input type="text" th:field="*{name}">

            <p>性別</p>
            <select th:field="*{gender}">
                <option value="">選択してください。</option>
                <option value="男性">男性</option>
                <option value="女性">女性</option>
                <option value="その他">その他</option>
            </select>

            <p>生年月日</p>
            <input type="date" th:field="*{birthday}">
                      
            <p>メールアドレス</p>
            <input type="email" th:field="*{email}">

            <p>パスワード</p>
            <input type="password" th:field="*{password}">

            <br><br>
            <button type="submit">登録</button>
            <br><br>
            <button type="button" onclick="location.href='/customer'">キャンセル</button>
        </form>
        </div>
    </body>
</html>