<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>顧客一覧</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container-wide">
    <h1>顧客一覧</h1>

    <p th:if="${message}"
    th:text="${message}"
    class="error">
    </p>

    <div class="table-container">
    <table>
        <tr>
            <th>ID</th>
            <th>名前</th>
            <th>性別</th>
            <th>生年月日</th>
            <th>年齢</th>
            <th>メールアドレス</th>
            <th>操作</th>
        </tr>
        <tr th:each="customer : ${customers}">
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.gender}"></td>
            <td th:text="${customer.birthday}"></td>
            <td th:text="${customer.age}"></td>
            <td th:text="${customer.email}"></td>

            <td>
                <a th:href="@{/customer/update/{id}(id=${customer.id})}">[更新]</a>
                <br>
                <a th:href="@{/customer/password/{id}(id=${customer.id})}">[パスワード変更]</a>
                <br>
                <a th:href="@{/customer/delete/{id}(id=${customer.id})}" onclick="return confirm('本当に削除しますか？');">[削除]</a>
            </td>
        </tr>
    </table>
    </div>
    <br>
    <div class="link"><a href="/customer">ホームに戻る</a></div>
    </div>
</body>
</html>
