<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>パスワード変更</title>
    </head>
    <body>
        <h1>パスワード変更</h1>

        <p th:if="${message}"
        th:text="${message}"
        style="color:red;">
        </p>

        <form th:action="@{/customer/password}"
        th:object="${customer}"
        method="post">

        <input type="hidden" th:field="*{id}">

            <p>新しいパスワード</p>
            <input type="password" th:field="*{password}">

            <br><br>

            <button type="submit">変更</button>
            <button type="button" onclick="location.href='/customer/list'">キャンセル</button>
        </form>
    </body>
</html>