<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>顧客情報更新</title>
    </head>
    <body>
            <h1>顧客情報更新</h1>
            <p th:if="${message}"
            th:text="${message}"
            style="color: red;">
            </p>
            <form th:action="@{/customer/update}"
                th:object="${customer}"
                method="post">
                <input type="hidden" th:field="*{id}">
                <p>名前</p>
                <input type="text" th:field="*{name}">

                <p>性別</p>
            <select th:field="*{gender}">
                <option value="">選択してください。</option>
                <option value="男性">男性</option>
                <option value="女性">女性</option>
                <option value="その他">その他</option>
            </select>

            <p>生年月日</p>
            <input type="date" th:field="*{birthday}">

                <p>メールアドレス</p>
                <input type="text" th:field="*{email}">
                <br><br>
                <button type="submit">更新</button>
                <button type="button" onclick="location.href='/customer/list'">キャンセル</button>
            </form>
            <br>
            <a href="/customer">ホームへ戻る</a>
        </body>
</html>